<h2>Tareas realizadas</h2>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @tareas.each do |tarea| %>
      <tr>
        <td><%= tarea.title %></td>
        <td><%= tarea.description %></td>
        <td>
          <%= link_to "Eliminar", tarea_path(tarea), method: :delete, data: { confirm: '¿Estás seguro de eliminar esta tarea?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Cargar tarea", new_tarea_path %>
