<h2>Tareas realizadas</h2>
<div> 
<% @tareas.each do |tarea|%>
    <hr>
    <label> Title </label>
    <h5><%= tarea.title%></h5>
    </label> Description </label>
    <h5><%= tarea.description%></h5>
    
<% end %>
</div>
    
<%= link_to "Cargar tarea", new_tarea_path %>
