<h1>Tareas realizadas</h1>
<div>
<% @tareas.each do |tarea|%>
    <hr>
    <label> Title </label>
    <h1><%= tarea.title%></h1>
    </label> Description </label>
    <h1><%= tarea.description%></h1>
    
<% end %>
</div>
    
<%= link_to "Cargar tarea", new_tarea_path %>
